/* Service.css */

.service-container {
  margin-right: 15px; /* Adjust margin between containers as needed */
  display: flex;
  flex-direction: column;
}

.service-container .bg-white {
  transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

.service-container:hover .bg-white {
  background-color: #007bff; /* Change background color on hover to blue */
}

.service-container:hover .text-gray-600 {
  color: white; /* Change text color to white on hover */
}

.service-container:hover .text-4xl {
  color: white; /* Change icon color to white on hover */
}

.service-container:hover .text-2xl {
  color: white; /* Change heading text color to white on hover */
}

@media (min-width: 640px) {
  .service-container {
    flex: 1;
    margin-right: 0; /* Remove right margin on small screens */
    margin-bottom: 20px; /* Add bottom margin on small screens */
  }

  .service-container:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last container */
  }
}

.text-gray-600 {
  margin-top: 0;
}
