/* styles.css */
.floating-label {
    position: absolute;
    left: 10px;
    /* initial position of placeholder */
    top: 16px; /* Align with input text */
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; /* Safari */
    pointer-events: none;
    /* placeholder color */
    color: #999;
    padding: 0 5px;
    transform: translateZ(0); /* Force hardware acceleration */
    -webkit-transform: translateZ(0); /* Safari */
  }
  
  .floating-label.floating {
    top: -10px;
    left: 10px;
    font-size: 0.75rem;
    /* float color here */
    color: #3B82F6;
    transform: translateZ(0); /* Force hardware acceleration */
    -webkit-transform: translateZ(0); /* Safari */
  }
  
  input:focus ~ .floating-label,
  textarea:focus ~ .floating-label {
    top: -10px;
    left: 10px;
    font-size: 0.75rem;
    color: #3B82F6;
    transform: translateZ(0); /* Force hardware acceleration */
    -webkit-transform: translateZ(0); /* Safari */
  }
  