/* src/index.css */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-100;
}



/* Turning Off Horizontal Scroll */

/* html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
} */


html {
  scrollbar-gutter: stable;
}
